__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
*.db
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg
MANIFEST
.eggs/
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.hypothesis/
